<div class="container">
  <!-- Productos disponibles -->
  <div class="row">
    <h2 class="text-center">Mis compras</h2>

    <div class="col-md-3" *ngFor="let producto of productos">
      <app-producto-catalogo [producto]="producto"></app-producto-catalogo>
      <button class="btn btn-primary" (click)="agregarAlCarrito(producto)"> <i class="bi bi-cart-plus"></i> Agregar al
        carrito</button>
    </div>
    <div>
      <h5>Total con envío $ {{ total }}</h5>
    </div>
  </div>

  <!-- Muestro los productos del carrito-->
  <div class="col-md-9">
    <div *ngIf="carrito.length === 0">
      <h2>No has agregado nada a tu carrito</h2>
    </div>


    <div *ngIf="carrito.length > 0 && this.total>0">
      <h2 [ngStyle]="{color: 'green',fontWeight:'bolder'}">Agregaste a tu carrito</h2>
      <ul>
        <li *ngFor="let producto of carrito">{{ producto.titulo}}</li>
      </ul>
    </div>

    <!-- Compruebo si hay algo agregado al carrito-->
    <div *ngIf="carrito.length > 0">
      <p>Has seleccionado {{ carrito.length }} producto(s)</p>
      <button class="btn btn-primary btn-md" (click)="pagar()">Pagar</button>
    </div>
  </div>


</div>