<div class="container">
  <!-- Productos disponibles -->
  <div class="row">
    <h2 class="text-center">Carrito de compras</h2>

    <div class="col-md-4 mx-auto" *ngFor="let producto of carrito">
      <app-producto [producto]="producto" [muestra]="false"></app-producto>
     <!-- Boton para agregar al carrito -->
      <!-- <button class="btn btn-primary" (click)="agregarAlCarrito(producto)"> <i class="bi bi-cart-plus"></i> Agregar al
        carrito</button> -->
    </div>


  <!-- Muestro los productos del carrito-->
  <div class="col-md-8 ">
    <div class="mt-5">
      <!-- <h5>Total con envío $ {{ total }}</h5> -->
      <select name="envio" id="envio" (change)="seleccionarEnvio($event)" required>
        <option *ngFor="let envio of envios" value="{{envio.id}}" [selected]="envio === envioElegido">{{envio.nombre}} (${{envio.costo}})</option>
      </select>
      <h5>Total con envío $ {{ totalCarrito }}</h5>
    </div>
  </div>
    <div *ngIf="carrito.length === 0">
      <h2>No has agregado nada a tu carrito</h2>
    </div>

    <div *ngIf="carrito.length > 0 && total>0"> 
      
      <ul>
        <li *ngFor="let item of getCarritoReducido()" [ngClass]="{'mb-3': true}">
          {{ item.cantidad }} x {{ item.producto.titulo }}
          <!-- <button class="btn btn-danger btn-sm" (click)="eliminarDelCarrito(item.producto)">Eliminar</button> -->
        </li>
      </ul>
  </div> 
    <!-- Compruebo si hay algo agregado al carrito-->
    <div *ngIf="carrito.length > 0">
      <h2 [ngStyle]="{color: 'green',fontWeight:'bolder'}">Agregaste a tu carrito</h2>
      <p>Has seleccionado {{ carrito.length }} producto(s)</p>
      <button class="btn btn-primary btn-md" (click)="pagar()">Pagar</button>
  </div>


</div>
