<div id="carouselExampleFade" class="carousel slide carousel-fade">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img id="img" [src]="itemCarrusel1" class="d-block w-100" alt="Helado con comentario 1">
    </div>
    <div class="carousel-item">
      <img id="img" [src]="itemCarrusel2" class="d-block w-100" alt="Helado con comentario 2">
    </div>
    <div class="carousel-item">
      <img id="img" [src]="itemCarrusel3" class="d-block w-100" alt="Helado con comentario 3">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- intro -->

<section class="w-50 mx-auto text-center pt-5 animacion animate__animated animate__fadeIn" id="section">
  <h1 class="p-3 fs-2 border-styled" id="tittle">HELADERIA ARTESANAL
  </h1>
  <p class="p-3 fs-4"><span class="fs-3" id="tittle">ENBALDE</span> es una heladería que ofrece deliciosos helados artesanales de calidad, elaborados con los mejores ingredientes y
    cuidando cada detalle para garantizar una experiencia única en cada bocado.</p>
</section>

<!-- CARDS -->
<div id="containerCards" class="container mt-2 pt-3 pb-3 animacion animate__animated animate__fadeIn">
  <h2 class="titleCardContainer">¿QUÉ HAY DE NUEVO?</h2>
      <div class="row">
        <div class="col-md-6 col-sm-12  col-lg-3 text-center pb-3" id="card_r">
          <div class="card card-block">
          <h4 class="card-title text-right"><i class="material-icons">Helado de Fernet</i></h4>
        <img [src]="itemFernet" alt="Helado sabor a Fernet" class="img-fluid">
            <h6 class="card-text">El mismo sabor del Fernet pero ahora en helado, ¿Ya lo probaste?</h6>
      </div>
        </div>
        <div class="col-md-6 col-sm-12 text-center pb-3 col-lg-3" id="card_r">
          <div class="card card-block">
          <h4 class="card-title text-right"><i class="material-icons">Helado de Caramelo</i></h4>
          <img [src]="itemCaramelo" alt="Helado sabor a caramelo" class="img-fluid">
            <h6 class="card-text">Si tenes ganas de algo dulce entonces este sabor es justo lo que necesitas</h6>
      </div>
        </div>
        <div class="col-md-6 col-sm-12 text-center pb-3 col-lg-3" id="card_r">
          <div class="card card-block">
          <h4 class="card-title text-right"><i class="material-icons">Helado de Pritiado</i></h4>
          <img [src]="itemPritiado" alt="Helado sabor a pritiado" class="img-fluid">
            <h6 class="card-text">No podia faltar el sabor Pritiado el más patente de Córdoba, ¿Ya lo probaste?</h6>
      </div>
        </div>
        <div class="col-md-6 col-sm-12 text-center pb-3 col-lg-3" id="card_r">
          <div class="card card-block">
          <h4 class="card-title text-right"><i class="material-icons">Dark Chocolate</i></h4>
          <img [src]="itemDarkChocolate" alt="Helado sabor a Dark Chocolate" class="img-fluid">
            <h6 class="card-text">Chocolate realizado con mucho cariño y felicidad, desde la antartida a tu casa</h6>
      </div>
        </div>
      </div>
    </div>

    <div id="containerCards" class="container mt-2 pt-3 pb-3 animacion animate__animated animate__fadeIn">
      <div class="col-md-6 col-sm-6 text-center mx-auto" >
        <div class="card card-block" id="a">
        <h4 class="titleCardContainer text-right ">¡¡GANADORES DEL SORTEO DE 1KG DE HELADO!!</h4>

            <ng-container *ngIf="data && data.length > 0 && data.length">
              <div *ngFor="let user of data">
                <h6>
                  {{ user.name.first }} {{ user.name.last }}
                </h6>
                <img [src]="user.picture.large" alt="Foto de perfil" class="profile-image">
              </div>
            </ng-container>
            <li *ngIf="data && data.length === 0">
              No hay datos disponibles.
            </li>

        </div>
      </div>
      </div>
