<!-- <div class="flyer">
  <img class="imgFlyer" src="../../../assets/img/flyerPubli.jpg" alt="imagen-publicitaria">
</div> -->
<div class="container mt-2">
    <!--   <div class="card card-block mb-2">
        <h4 class="card-title">Card 1</h4>
        <p class="card-text">Welcom to bootstrap card styles</p>
        <a href="#" class="btn btn-primary">Submit</a>
      </div>   -->
      <div class="row">
        <div class="col-md-3 col-sm-6 text-center">
          <div class="card card-block">
          <h4 class="card-title text-right"><i class="material-icons">Dark Chocolate</i></h4>
        <img src="assets/img/HeladoChocolate.jpeg" alt="Photo of sunset">
            <h5 class="card-title mt-3 mb-3">TENTACION</h5>
            <p class="card-text">Chocolate realizado con mucho cariño y felicidad, desde la antartida a tu casa</p>
      </div>
        </div>
        <div class="col-md-3 col-sm-6 text-center">
          <div class="card card-block">
          <h4 class="card-title text-right"><i class="material-icons">Dark Chocolate</i></h4>
          <img src="assets/img/HeladoChocolate.jpeg" alt="Photo of sunset">
            <h5 class="card-title  mt-3 mb-3">TENTACION</h5>
            <p class="card-text">Chocolate realizado con mucho cariño y felicidad, desde la antartida a tu casa</p> 
      </div>
        </div>
        <div class="col-md-3 col-sm-6 text-center">
          <div class="card card-block">
          <h4 class="card-title text-right"><i class="material-icons">Dark Chocolate</i></h4>
          <img src="assets/img/HeladoChocolate.jpeg" alt="Photo of sunset">
            <h5 class="card-title  mt-3 mb-3">TENTACION</h5>
            <p class="card-text">Chocolate realizado con mucho cariño y felicidad, desde la antartida a tu casa</p>
      </div>
        </div>
        <div class="col-md-3 col-sm-6 text-center">
          <div class="card card-block">
          <h4 class="card-title text-right"><i class="material-icons">Dark Chocolate</i></h4>
          <img src="assets/img/HeladoChocolate.jpeg" alt="Photo of sunset">
            <h5 class="card-title  mt-3 mb-3">TENTACION</h5>
            <p class="card-text">Chocolate realizado con mucho cariño y felicidad, desde la antartida a tu casa</p>
      </div>
        </div>    
      </div>
      
    </div>
    