<div id="carouselExampleFade" class="carousel slide carousel-fade">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img id="img" src="/assets/img/heladoCarousel.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img id="img" src="/assets/img/heladoCarousel1.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img id="img" src="/assets/img/heladoCarousel2.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- intro -->

<section class="w-50 mx-auto text-center pt-5 " id="intro">
  <h1 class="p-3 fs-2 border-top border-3" id="nosotros"><span class="text-secondary">HELADOS ARTESANALES</span></h1>
  <p class="p-3 fs-4"><span class="fs-3">ENBALDE</span> es una heladería que ofrece deliciosos helados artesanales de calidad, elaborados con los mejores ingredientes y
    cuidando cada detalle para garantizar una experiencia única en cada bocado.</p>
</section>

<!-- CARDS -->
<div id="containerCards" class="container mt-2 pt-3 pb-3">
  <h2 class="titleCardContainer">¿QUÉ HAY DE NUEVO?</h2>
      <div class="row">
        <div class="col-md-3 col-sm-6 text-center">
          <div class="card card-block">
          <h4 class="card-title text-right"><i class="material-icons">Dark Chocolate</i></h4>
        <img src="/assets/img/HeladoChocolate.jpeg" alt="Photo of sunset">
            <h5 class="card-title">TENTACION</h5>
            <p class="card-text">Chocolate realizado con mucho cariño y felicidad, desde la antartida a tu casa</p>
      </div>
        </div>
        <div class="col-md-3 col-sm-6 text-center">
          <div class="card card-block">
          <h4 class="card-title text-right"><i class="material-icons">Dark Chocolate</i></h4>
          <img src="/assets/img/choco-frutilla.jpg" alt="Photo of sunset">
            <h5 class="card-title">TENTACION</h5>
            <p class="card-text">Chocolate realizado con mucho cariño y felicidad, desde la antartida a tu casa</p>
      </div>
        </div>
        <div class="col-md-3 col-sm-6 text-center">
          <div class="card card-block">
          <h4 class="card-title text-right"><i class="material-icons">Dark Chocolate</i></h4>
          <img src="/assets/img/chocolate.jpg" alt="Photo of sunset">
            <h5 class="card-title">TENTACION</h5>
            <p class="card-text">Chocolate realizado con mucho cariño y felicidad, desde la antartida a tu casa</p>
      </div>
        </div>
        <div class="col-md-3 col-sm-6 text-center">
          <div class="card card-block">
          <h4 class="card-title text-right"><i class="material-icons">Dark Chocolate</i></h4>
          <img src="/assets/img/HeladoChocolate.jpeg" alt="Photo of sunset">
            <h5 class="card-title">TENTACION</h5>
            <p class="card-text">Chocolate realizado con mucho cariño y felicidad, desde la antartida a tu casa</p>
      </div>
        </div>
      </div>
    </div>
<div>
  <h2>Prueba</h2>
  <ul>
    <li *ngFor="let item of data">
        {{item.name}}
    </li>
  </ul>
</div>
