.imgFlyer{
  height: 300px !important;
}
#img{
  height: 400px;
  object-fit:cover;
  background: rgba(255, 255, 255, 0.1);
}
img{
    height:300px;
    width:100%;
  }
  
  div [class^="col-"]{
    padding-left:5px;
    padding-right:5px;
  }
  .card{
    transition:0.5s;
    cursor:pointer;
  }
  .card-title{  
    font-size:15px;
    transition:1s;
    cursor:pointer;
  }
  .card-title i{  
    font-size:15px;
    transition:1s;
    cursor:pointer;
    color:#ffa710
  }
  .card-title i:hover{
    transform: scale(1.25) rotate(100deg); 
    color:#18d4ca;
    
  }
  .card:hover{
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
  }
  .card-text{
    height:80px;  
  }
  
  .card::before, .card::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform .3s ease-out 0s;
    background: rgba(255, 255, 255, 0.1);
    content: '';
    pointer-events: none;
  }
  .card::before {
    transform-origin: left top;
  }
  .card::after {
    transform-origin: right bottom;
  }
  .card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
    transform: scale3d(1, 1, 1);
  }

  .titleCardContainer{
    color: #160f75 !important;
  }

  #containerCards{
    background: rgba(17, 54, 177, 0.288);
  }
  .carousel-control-prev {
    background: rgba(17, 54, 177, 0.288);
    color: #160f75 !important; 
  }
  
  .carousel-control-prev:hover {
    background: rgba(17, 54, 177, 0.288); 
    color:#18d4ca !important; 
  }
  
  .carousel-control-next {
    background: rgba(17, 54, 177, 0.288);
    color: #160f75 !important; 
  }
  
  .carousel-control-next:hover {
    background: rgba(17, 54, 177, 0.288); 
    color:#18d4ca !important; 
  }
  .profile-image {
    width: 100px;
    height: 100px;
  
  }
#a{
  
background: rgba(252,252,252,1);
background: -moz-linear-gradient(left, rgba(252,252,252,1) 0%, rgba(243,243,243,1) 58%, rgba(242,242,242,1) 66%, rgba(239,239,239,1) 79%, rgba(235,235,235,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(252,252,252,1)), color-stop(58%, rgba(243,243,243,1)), color-stop(66%, rgba(242,242,242,1)), color-stop(79%, rgba(239,239,239,1)), color-stop(100%, rgba(235,235,235,1)));
background: -webkit-linear-gradient(left, rgba(252,252,252,1) 0%, rgba(243,243,243,1) 58%, rgba(242,242,242,1) 66%, rgba(239,239,239,1) 79%, rgba(235,235,235,1) 100%);
background: -o-linear-gradient(left, rgba(252,252,252,1) 0%, rgba(243,243,243,1) 58%, rgba(242,242,242,1) 66%, rgba(239,239,239,1) 79%, rgba(235,235,235,1) 100%);
background: -ms-linear-gradient(left, rgba(252,252,252,1) 0%, rgba(243,243,243,1) 58%, rgba(242,242,242,1) 66%, rgba(239,239,239,1) 79%, rgba(235,235,235,1) 100%);
background: linear-gradient(to right, rgba(252,252,252,1) 0%, rgba(243,243,243,1) 58%, rgba(242,242,242,1) 66%, rgba(239,239,239,1) 79%, rgba(235,235,235,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#ebebeb', GradientType=1 );

  }

#tittle{
    color:#81b4db;
  }
.border-styled {
    border-top: 2px solid #81b4db; 
    padding: 10px; 
  }
  

  /* Mobile */
  @media screen and (min-width: 414px) and (max-width: 896px) {
    #img{
      height: 200px;
      object-fit: cover;
      background: rgba(255, 255, 255, 0.1);
      transform: scale(2.0);
    }

    #section{
      width: 100% !important;
    }
    #containerCards{
      width: 80% !important;
    }
    .titleCardContainer {
      font-size: 1em;
    }
    
  }
  /* Tablet */
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    #containerCards{
      width: 100% !important;
    }
    #img{
      height: 200px;
      object-fit: cover;
      background: rgba(255, 255, 255, 0.1);
      transform: scale(1.3);
    }
  }