<div class="col-md-12 mt-auto pb-4">
    <div class="container mt-5 p-2">
        <div class="text-center">
            <h1 class="text-black">REGISTRACIÓN</h1>
        </div>
    </div>
</div>

<div class="registrer">
    <section class="seccion-form">

        <form class="form-register" [formGroup]="registrarForm" (ngSubmit)="onSave">
            <label for="fname">Nombre:</label><br>
            <input 
                class="menu"  
                type="text"
                formControlName="fname"
                id="fname"
                placeholder="Ingrese su nombre"
                [ngClass]="{
                    'is-invalid':
                    registrarForm.get('fname')?.touched ||
                    (registrarForm.get('fname')?.dirty && 
                        !registrarForm.get('fname')?.valid)
                    }"/><br>
            
            

            <label for="lname">Apellido:</label><br>
            <input class="menu"  type="text" formControlName="lname" id="lname" placeholder="Ingrese su apellido" minlength="1" maxlength="25" required><br>
            <label for="mail">Correo electrónico:</label><br>
            <input class="menu"  type="email" formControlName="mail" id="mail" placeholder="email" minlength="10" maxlength="128" required><br>
            <label for="adress">Dirección</label><br>
            <input class="menu"  type="text" formControlName="adress" id="adress" placeholder="Ingrese su dirección" maxlength="200" required><br>
            <label for="user">Nombre de usuario:</label><br>
            <input class="menu"  type="text" formControlName="user" id="user" placeholder="Nombre de Usuario" minlength="6" maxlength="20" required><br>
            <label for="password">Contraseña:</label><br>
            <input class="menu"  type="password" formControlName="password" id="password" placeholder="******" minlength="6" maxlength="20" required><br>
            <label for="phone">Teléfono:</label><br>
            <input class="menu"  type="tel" formControlName="phone" id="phone" minlength="8" required><br>

            <button class="btn" type="submit" [disabled]="registrarForm.invalid">Registrarse</button><br>
            <p><a class="linea" [routerLink]="['/login']">Ya tengo cuenta</a></p>
            <button class="button-second" type="submit" (click)="updateProfile()">Modificar datos</button>

        </form>
    </section>
</div>
