<div class="container">
    <div class="row">
      <h2 class="text-center">Artículos existentes</h2>

      <div class="col">
        <div class="row table-header-color">
          <div class="col-3">Titulo</div>
          <div class="col-1">Precio</div>
          <div class="col-1">Cantidad</div>
          <div class="col">Descripcion</div>
        </div>
        <div class="row" *ngFor="let producto of productos">
          <div class="col-3">{{producto.titulo}}</div>
          <div class="col-1">{{producto.precio}}</div>
          <div class="col-1">{{producto.cantidadDisponible}}</div>
          <div class="col">{{producto.descripcion}}</div>
          <button class="col-1 btn btn-primary" (click)="editar(producto)">Editar</button>
        </div>
      </div>
    </div>
</div>
