<app-catalogo [productos]="productos">
<div class="row">
    <div class="col-md-4" *ngFor="let producto of productos">
        <div class="card">
            <img [src]="producto.imagen[0]" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ producto.titulo }}</h5>
                <p class="card-text">{{ producto.descripcion }}</p>
                <p class="card-text">$ {{ producto.precio }}</p>
                <button class="btn btn-primary" (click)="seleccionarProducto(producto)">Ver detalles</button>
            </div>
        </div>
    </div>
</div>
<app-producto *ngFor="let producto of productos" [producto]="producto" (click)="seleccionarProducto(producto)"></app-producto>

