<div class="container">
    <div class="row">
      <div class="col-md-12 mt-auto pb-4">
          <div class="mt-5 p-2">
              <div class="text-center">
                  <h1 class="text-black">HELADOS DISPONIBLES</h1>
              </div>
          </div>
      </div>

      <div class="col-md-3" *ngFor="let producto of productos" [ngClass]="{'seleccionado': producto === divSeleccionado}"(click)="divSeleccionado = producto">
        <app-producto [producto]="producto"></app-producto>
        <button class="btn btn-primary" (click)="agregarAlCarrito(producto)"> <i class="bi bi-cart-plus"></i> Agregar al
          carrito</button>
      </div>
    </div>
</div>
<!-- Si se quiere dar stylos a catálogo las card se va a tener que modificar el html-->
