<div class="col-md-12 mt-auto pb-4">
    <div class="container mt-5 p-2">
        <div class="text-center">
            <h1 class="text-black">INGRESAR</h1>
        </div>
    </div>
</div>

<div class="login">
    <section class="seccion-form">
        <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()" method="post" action="">
            <input id="user" type="text" formControlName="user" placeholder="Usuario"><br>
            <input type="password" formControlName="password" placeholder="Contraseña"><br>
            <button type="submit" [disabled]="!loginForm.valid">Ingresar</button><br>
            <p><a class="linea" [routerLink]="['/restablecer']">Olvidé mi contraseña</a></p>
            <p><a class="linea" [routerLink]="['/registracion']">Me quiero registrar</a></p>
        </form>
    </section>
</div>
