<div class="container">
    <div class="row">
      <h2 class="text-center">Mis Compras</h2>

      <div class="col">
        <div class="row table-header-color">
          <div class="col-3">Fecha</div>
          <div class="col-6">Artículos</div>
          <div class="col-3">Valor</div>
        </div>
        <div class="row" *ngFor="let compra of compras">
          <div class="col-3">{{compra.obtenerFechaFormateada()}}</div>
          <div class="col-6">{{compra.obtenerArticulos()}}</div>
          <div class="col-3">{{compra.total}}</div>
        </div>
      </div>
    </div>
</div>