<div class="col-md-12 mt-auto pb-4">
    <div class="mt-5 p-2">
        <div class="text-center">
            <h1 class="text-black">TIPOS DE ENVÍOS EXISTENTES</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
      <div class="col">
        <ng-container *ngIf="envios.length > 0">
          <div class="row table-header-color">
            <div class="col-7 col-sm-7 col-md-7 col-lg-7 col-xl-7">Nombre</div>
            <div class="col-3 col-sm-3 col-md-3 col-lg-4 col-xl-4">Monto</div>
          </div>
          <div class="row" *ngFor="let envio of envios">
            <app-item-envio (refrescar)="refrescar()" [envio]="envio"></app-item-envio>
          </div>
        </ng-container>
        <ng-container *ngIf="envios.length == 0">
          <p>No hay envíos para mostrar.</p>
        </ng-container>
        <div class="row">
          <h3>Agregar</h3>
          <form [formGroup]="crearEnvioForm" (ngSubmit)="crear(crearEnvioForm.value)">
            <input class="col-7 col-sm-7 col-md-7 col-lg-7 col-xl-7" formControlName="nombre" id="nombre" name="nombre" type="text" placeholder="Ingresar nombre de envío">
            <input class="col-3 col-sm-3 col-md-3 col-lg-4 col-xl-4" formControlName="monto" id="monto" name="monto" type="number">

            <button type="submit" class="col btn btn-primary" [disabled]="!crearEnvioForm.valid"><i class="bi bi-save"></i></button>
            <div *ngIf="nombre?.invalid && (nombre?.dirty || nombre?.touched)" class="text-danger">
              <div *ngIf="nombre?.errors?.['required']">
                Se requiere ingresar nombre para el tipo de envío.
              </div>
              <div *ngIf="nombre?.errors?.['maxlength']">
                El nombre no debe exceder los 40 caracteres.
              </div>
            </div>
            <div *ngIf="monto?.invalid && (monto?.dirty || monto?.touched)" class="text-danger">
              <div *ngIf="monto?.errors?.['required']">
                Se requiere ingresar un importe para el monto de envío.
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
</div>
