* {
   box-sizing: border-box;
}
html,
 body {
  background: #ecf0f3;
}


  
.seccion-my-form input {
  display: block;
  margin: 2rem 2rem 2rem 2rem;
  width: 90%;
  border-radius: 0.2rem;
  padding: 0.8rem;
  border: none;
  border: none;
  background: #ebf5fc;
  margin-top: 1rem;
}

.row input {
  box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.8), inset 5px 5px 10px
  #9e9ea1;
}

.btn {
  text-transform: uppercase;
  border: none;
  font-size: 0.875rem;
  color: #ffffff;
  font-weight: bold;
  background-color: #160f75;
  width: 70%;
  display: block;
  margin-top: 2em;
  margin-left: 15%;
  border-radius: 0.2rem;
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
  cursor: pointer;
  padding: 0.875rem;
}

.btn:hover {
  background-color: #2e2977;
}

p {
  text-align: center;
  padding: .5%;
  color: #160f75;
  font-size: 1.2em;
}

h2 {
  padding: 2%;
}

.my-form {
  margin: 0px auto;
  padding: 2rem 3rem;
  background-color: #81b4db;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
  border-radius: 10px;
  margin-top: 3px;
  
}

input[type=text], input[type=email], input[type=tel], input[type=password]{
  background-color: #f5f5f5;
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 0.2rem;
  margin-top: 6px;
  margin-bottom: 16px;
  box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.8), inset 5px 5px 10px
  #160f75;
  resize: vertical;
  color: #212121;
  
}

.ng-valid:not(form).ng-touched {
  border-left: 5px solid #42a948;
}

.ng-invalid:not(form).ng-touched {
  border-left: 5px solid #a94442;
}