<div class="col-md-12 mt-auto pb-4">
    <div class="container mt-5 p-2">
        <div class="text-center">
            <h1 class="text-blue">Reestablecer contraseña</h1>
        </div>
    </div>
</div>

<div class="container p-3">
    <section class="seccion-form">
        <form [formGroup]="restablecerForm" class="form-restablecer" (ngSubmit)="onSubmit()" method="post" action="">
            <p>Ingrese su e-mail. Recibirá un enlace para establecer una nueva contraseña</p>
            <input class="menu" type="email" formControlName="email" id="email" placeholder="e-mail"><br>
            <button type="submit" [disabled]="!restablecerForm.valid">Enviar</button><br>
        </form>
    </section>
</div>
