<div class="col-md-12 mt-auto pb-4">
    <div class="container mt-5 p-2">
        <div class="text-center">
            <h1 class="text-blue">Reestablecer contraseña</h1>
        </div>
    </div>
</div>

<div class="container p-3">
    <section class="seccion-form">
        <form [formGroup]="restablecerForm" class="form-restablecer" (ngSubmit)="onSubmit()">
            <p>Ingrese su e-mail. Recibirá un enlace para establecer una nueva contraseña</p>
            <input class="form-control" type="email" formControlName="mail" id="mail" placeholder="e-mail"><br>

            <div *ngIf="mail?.invalid && (mail?.dirty || mail?.touched)" class="alert alert-danger">

                <div *ngIf="mail?.errors?.['required']">
                    Se requiere un email
                </div>
                
                <div *ngIf="mail?.errors?.['pattern']">
                    El formato de email no coincide.
                </div>
            </div>

            <button class="btn" type="submit" [disabled]="!restablecerForm.valid">Enviar</button><br>
        </form>
    </section>
</div>
