#opcionDiv{
    display: flex;
    flex-direction: column;  
}
#añadir{
    cursor: pointer;
}

.border-styled {
    border-top: 2px solid #81b4db; 
    padding: 10px; 
  }
.animacion {
    animation-duration: 2s; 
    animation-delay:  0.9s;
    
  }
  
