#opcionDiv{
    display: flex;
    flex-direction: column;  
}
#añadir {
    cursor: pointer;
    background-color: #81b4db;
    font-size: 40%;
    margin-right: 3%;
    
}

#quitar {
  cursor: pointer;
  margin-left: 4%;

  @media (max-width: 768px) {
    margin-top: 5%;
}
}

.border-styled {
    border-top: 2px solid blue; 
    padding: 2%; 
}

.animacion {
  animation-duration: 2s; 
  animation-delay:  0.9s;
}
  
button {
  color: aliceblue;
}

