<div class="container">
    <div class="row">
      <h2 class="text-center">Tipos de producto existentes</h2>

      <div class="col">
        <div class="row table-header-color">
          <div class="col-2 col-lg-1 col-md-1 col-xl-1">Id</div>
          <div class="col-10 col-lg-6 col-md-6 col-xl-6">Nombre</div>
        </div>
        <div class="row" *ngFor="let tipoProducto of tipoProductos">
          <app-item-tipo-producto [tipoProducto]="tipoProducto"></app-item-tipo-producto>
        </div>
        <div class="row">
          <form [formGroup]="crearTipoProductoForm" (ngSubmit)="crear(crearTipoProductoForm.value.nombre)">
            <div class="col-2 col-lg-1 col-md-1 col-xl-1"></div>
            <input formControlName="nombre" id="nombre" name="nombre" type="text" class="col-10 col-lg-6 col-md-6 col-xl-6">
            <button type="submit" class="col btn btn-primary" [disabled]="!crearTipoProductoForm.valid"><i class="bi bi-save"></i></button>
          </form>
        </div>
      </div>
    </div>
</div>
