<div class="container">
    <div class="row">
      <h2 class="text-center">Tipos de producto existentes</h2>

      <div class="col">
        <div class="row table-header-color">
          <div class="col-3">Nombre</div>
        </div>
        <div class="row" *ngFor="let tipoProducto of tipoProductos">
          <div class="col-3">{{tipoProducto.nombre}}</div>
          <div class="col-1">
            <div class="row">
              <button type="button" class="col btn btn-primary" (click)="editar(tipoProducto)"><i class="bi bi-pen"></i></button>
              <button type="button" class="col btn btn-danger" (click)="borrar(tipoProducto)"><i class="bi bi-trash"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <button type="button" class="col btn btn-primary" (click)="crear()">Crear tipo de producto</button>
      </div>
    </div>
</div>
