<main class="container">
  <div class="section-title">
    <p>Todos los campos son obligatorios.</p>
  </div>

  <div class="row">
    <div class="column">
      <form [formGroup]="formularioAltaProducto" class="my-form">
        <p>
          <label for="nombre">Nombre: </label>
          <input id="nombre" type="text" formControlName="nombre" maxlength="50" required>
        </p>
        <p>
          <label for="descripcion">Descripcion: </label>
          <input id="descripcion" type="text" formControlName="descripcion" maxlength="50" required>
        </p>
        <p>
          <label for="tipo">Tipo: </label>
          <select id="tipo" name="tipo" required>
            <option hidden selected>Selecciona el tipo...</option>
          </select>
        </p>
        <p>
          <label for="precio">Precio: </label>
          <input id="precio" type="number" formControlName="precio" maxlength="50" required>
        </p>
        <p>
          <label for="costo">Costo: </label>
          <input id="costo" type="number" formControlName="costo" maxlength="50" required>
        </p>
        <p>
          <label for="alicuota">Alicuota: </label>
          <input id="alicuota" type="number" formControlName="alicuota" maxlength="50" required>
        </p>
        <p>
          <label for="imagen">Imagen: </label>
          <input id="imagen" name="imagen" type="file" accept="image/x-png,image/gif,image/jpg,image/jpeg"><br>
        </p>
        <p class="btn-right">
          <input type="submit" value="Crear">
        </p>
      </form>
    </div>
  </div>
</main>
