    <h1>Pedido de autorización</h1>
    <p>Se ha solicitado debitar de su cuenta un total de <%= pago %> (factura <%= ticket %>) en concepto de:</p>
    <ul>
      <% for(var i = 0; i < descripcion.length; i++) {%>
        <li id="lista-<%=i%>"><%= descripcion[i] %></li>
      <% } %>
    </ul>
    <p>Desea pagar?</p>
