<div class="col-md-12 mt-auto pb-4">
  <div class="mt-5 p-2">
    <div class="text-center">
      <h1 class="text-black">VENTAS</h1>
    </div>
  </div>
</div>

<div class="container">
  <ng-container *ngIf="ventas.length > 0">
    <div class="row table-header-color">
      <div class="col-3">Fecha</div>
      <div class="col-2">Comprador</div>
      <div class="col-5">Artículos</div>
      <div class="col-2">Valor</div>
    </div>
    <app-item-venta *ngFor="let venta of ventas" [venta]=venta></app-item-venta>
  </ng-container>
  <ng-container *ngIf="ventas.length == 0">
    <p>No hay ventas para mostrar.</p>
  </ng-container>
</div>
