<main class="container">
  <div class="section-title">
    <p>Envianos tu consulta o comentario. Te responderemos lo antes posible, en horario laboral.</p>
  </div>

  <div class="row">
    <div class="column">
      <form [formGroup]="contactForm" class="my-form">
        <p>
          <label for="name">Nombre: </label>
          <input id="name" type="text" formControlName="name" placeholder="Tu nombre..." maxlength="50" required>
        </p>
        <p>
          <label for="email">Mail: </label>
          <input id="email" type="text" formControlName="email" placeholder="Tu mail..." maxlength="50" required>
        </p>
        <p>
          <label for="reason">Asunto: </label>
          <select id="reason" name="reason" required>
            <option hidden selected>Selecciona el asunto...</option>
            <option value="general">Consulta general</option>
            <option value="compras">Problemas con compras</option>
          </select>
        </p>
        <p class="no-margin-bottom">
          <label for="message">Mensaje: </label>
          <textarea id="message" name="message" placeholder="Tu mensaje..." maxlength="500" required></textarea>
        </p>
        <p class="btn-right">
          <input type="submit" value="Enviar">
        </p>
      </form>
    </div>
  </div>
</main>
