<div class="col-md-12 mt-auto pb-4">
    <div class="mt-5 p-2">
        <div class="text-center">
            <h1 class="text-black">CONTACTO</h1>
        </div>
    </div>
</div>

<main class="container">
  <div class="section-title">
    <p>Envianos tu consulta o comentario. Te responderemos lo antes posible, en horario laboral.</p>
  </div>

  <div class="row">
    <div class="column">
      <form class="my-form" [formGroup]="contactForm" (ngSubmit)="onSubmit(contactForm.value)">
        <div>
          <label for="name">Nombre: </label>
          <input id="name" class="form-control" type="text" formControlName="name" placeholder="Ingrese su nombre" maxlength="50" required>
          <div *ngIf="nombre?.invalid && (nombre?.dirty || nombre?.touched)" class="text-danger">
            <div *ngIf="nombre?.errors?.['required']">El nombre es requerido</div>
            <div *ngIf="nombre?.errors?.['minlength']">El nombre debe tener tres caracteres como mínimo</div>
          </div>
          <label for="email">Correo Electrónico: </label>
          <input id="email" class="form-control" type="text" formControlName="email" placeholder="Ingrese su correo electónico" maxlength="50" required>
          <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="text-danger">
            <div *ngIf="email?.errors?.['required']">El e-mail es requerido</div>
            <div *ngIf="email?.errors?.['minlength']">
              El correo electrónico debe tener más de 10 caracteres.
          </div>
          <div *ngIf="email?.errors?.['pattern']">
              El formato de correo electrónico no coincide.
          </div>
          </div>
        </div>
        <div>
          <label for="reason">Asunto: </label>
          <select id="reason" class="form-control" name="reason" formControlName="reason" required>
            <option value="general">Consulta general</option>
            <option value="compras">Problemas con compras</option>
          </select>
          <div *ngIf="motivo?.invalid && (motivo?.dirty || motivo?.touched)" class="text-danger">
            <div *ngIf="motivo?.errors?.['required']">El asunto es requerido</div>
          </div>
        </div>
        <div class="no-margin-bottom">
          <label for="message">Mensaje: </label>
          <textarea id="message" class="form-control" name="message" formControlName="message" placeholder="Ingrese su mensaje" maxlength="500" required></textarea>
          <div *ngIf="mensaje?.invalid && (mensaje?.dirty || mensaje?.touched)" class="text-danger">
            <div *ngIf="mensaje?.errors?.['required']">El mensaje es requerido</div>
            <div *ngIf="mensaje?.errors?.['minlength']">El mensaje debe tener al menos 10 caracteres</div>
          </div>
        </div>
        <button class="btn" type="submit" [disabled]="!contactForm.valid">Enviar</button>
      </form>
    </div>
  </div>
</main>
