<div *ngIf="editando?.id != producto.id" class="row">
  <div class="col-9 col-sm-10 col-md-10 col-lg-10 col-xl-11" [id]=funcionesService.crearId(producto.id)>{{producto.nombre}}</div>
  <div class="col-3 col-sm-2 col-md-2 col-lg-2 col-xl-1">
    <div class="row">
      <button type="button" class="col btn btn-primary" (click)="editar(producto)"><i class="bi bi-pen"></i></button>
      <button type="button" class="col btn btn-danger" (click)="borrar(producto)"><i class="bi bi-trash"></i></button>
    </div>
  </div>
</div>
<form *ngIf="editando?.id == producto.id" class="row" [formGroup]="editarItemProductoForm">
  <input class="col-3" formControlName="nuevoNombre" type="text" [id]=funcionesService.crearId(producto.id)>
  <input class="col-2 col-lg-1" formControlName="nuevoPrecio" type="number">
  <input class="col-2 col-lg-1" formControlName="nuevaCantidad" type="number" value="{{producto.cantidad}}">
  <input class="col-4 col-sm-3 col-lg-5 col-xl-6" formControlName="nuevaDescripcion" type="text" value="{{producto.descripcion}}">
  <input class="col-1 col-sm-2 col-md-2 col-lg-2 col-xl-1" formControlName="nuevoCosto" type="number" value="{{producto.costo}}">
  <div class="col-3 col-sm-2 col-md-2 col-lg-2 col-xl-1">
    <div class="row">
      <button type="button" class="col btn btn-primary" [disabled]="!editarItemProductoForm.valid" (click)="grabar(producto, editarItemProductoForm.value)"><i class="bi bi-save"></i></button>
      <button type="button" class="col btn btn-danger" (click)="cancelar(producto)"><i class="bi bi-x"></i></button>
    </div>
  </div>
</form>
