<div class="container">
    <div class="row">
      <h2 class="text-center">Ofertas existentes</h2>

      <div class="col">
        <ng-container *ngIf="ofertas.length > 0">
          <div class="row table-header-color">
            <div class="col-2 col-lg-1 col-md-1 col-xl-1">Id</div>
            <div class="col col-lg-6 col-md-6 col-xl-6">Nombre</div>
            <div class="col col-lg-5 col-md-5 col-xl-5">Descuento</div>
          </div>
          <div class="row" *ngFor="let oferta of ofertas">
            <app-item-oferta [oferta]="oferta"></app-item-oferta>
          </div>
        </ng-container>
        <ng-container *ngIf="ofertas.length == 0">
          <p>No hay ofertas para mostrar.</p>
        </ng-container>
        <div class="row">
          <h3>Agregar</h3>
          <form [formGroup]="crearOfertaForm" (ngSubmit)="crear(crearOfertaForm.value)">
            <input class="col-2 col-sm-2 col-md-1 col-lg-1 col-xl-1" value="?" disabled>
            <input class="col-5 col-sm-6 col-md-8 col-lg-8 col-xl-9" formControlName="nombre" id="nombre" name="nombre" type="text">
            <input class="col-2 col-sm-2 col-md-1 col-lg-1 col-xl-1" formControlName="descuento" id="descuento" name="descuento" type="number">
            <button type="submit" class="col btn btn-primary" [disabled]="!crearOfertaForm.valid"><i class="bi bi-save"></i></button>
          </form>
        </div>
      </div>
    </div>
</div>
